<div class="container" (click)="redirectToMain()">
  <div class="card--component">
    <div class="card--validation--content">
      <div class="card--validation--img">
        <img
          src="/assets/images/illustration-thank-you.svg"
          alt="card ticket image validation"
          class="illustration-img"
        >
      </div>
      <div class="card--validation--selection">
        <p>You selected {{message}} of 5 stars</p>
      </div>
      <div class="card--validation--message">
        <h3>Thank you !</h3>
      </div>
      <div class="card--validation--text">
        <p>We appreciate you taking the time to give a rating. If you ever need more support, don’t hesitate to get in touch!</p>
      </div>
    </div>
  </div>
</div>
